@model Web.Pages.PortfolioDetailsModel

<section id="portfolio-information" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="images/portfolio-details/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-sm-6">
                <div class="project-name overflow">
                    <h2 class="bold">@Model.Project.ProjectName</h2>
                    <ul class="nav navbar-nav navbar-default">
                        <li><a href="#"><i class="fa fa-clock-o"></i>@Model.Project.CreateDateTime.Day @MonthsDictionary.GetMonths(@Model.Project.CreateDateTime.Month) @Model.Project.CreateDateTime.Year</a></li>
                        <li><a href="#"><i class="fa fa-tag"></i>@Model.Project.Category.Name</a></li>
                    </ul>
                </div>
                <div class="project-info overflow">
                    <h3>О проекте</h3>
                    <p>@Model.Project.Text</p>
                    <!--<ul class="elements">
                        <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li><i class="fa fa-angle-right"></i> Donec tincidunt felis quis ipsum porttitor, non rutrum lorem rhoncus.</li>
                        <li><i class="fa fa-angle-right"></i> Nam in quam consectetur nulla placerat dapibus ut ut nunc.</li>
                    </ul>-->
                </div>
                <div class="skills overflow">
                    <h3>Технологии:</h3>
                    <ul class="nav navbar-nav navbar-default">
                    @foreach (var skill in Model.Project.Skills)
                    {
                        <li><a href="#"><i class="fa fa-check-square"></i>@skill.Name</a></li>
                    }
                    </ul>
                </div>
                <div class="live-preview">
                    <a href="@Model.Project.PreviewLink" class="btn btn-common uppercase">Открыть проект</a>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--/#portfolio-information-->